.advantages-wrapper {
  padding-top: 25px;
  padding-left: @mobilPadding;
  padding-right: @mobilPadding;
  padding-bottom: 19px;
}

@media (min-width: @tablet-width) {
  .advantages-wrapper {
    padding-top: 25px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 19px;
  }
}

@media (min-width: @desktop-width) {
  .advantages-wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
