.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 33.33%;
    justify-content: flex-end;
  }
}

.copyright__author {
  line-height: 26px;

  color: @text-color;
}

.copyright__link {
  display: flex;
  color: @text-color;
}

.copyright__icon {
  display: block;
  margin-left: 13px;

  fill: @text-color;
}

.copyright__icon:disabled {
  fill: @accent-color;
}

.copyright__icon:hover {
  fill: @accent-color;
}

.copyright__icon:focus {
  fill: @accent-color;
}
