.copyright {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
}

.copyright__author {
  line-height: 26px;

  color: @text-color;
}

.copyright__link {
  display: flex;
  color: @text-color;
}

.copyright__icon {
  display: block;
  margin-left: 13px;

  fill: @text-color;
}

.copyright__link:disabled .copyright__icon {
  fill: @accent-color;
}

.copyright__link:hover .copyright__icon {
  fill: @accent-color;
}
