.copyright {
  display: flex;
  align-items: center;
}

.copyright__author {
  line-height: 26px;

  color: @text-color;
}

.copyright__icon {
  display: block;

  height: 34px;

  path {
    fill: @text-color;
  }
}
