.features-list {
  display: flex;
  flex-direction: column;

  .list-reset();
}

.features-list__item {
  padding-right: @mobilPadding;
  padding-left: @mobilPadding;

  text-align: center;
}

.features-list__text {
  padding-bottom: 28px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.features-list__item:last-child .features-list__text {
  border-bottom: none;
}
