.features-list {
  display: flex;
  flex-direction: column;

  .list-reset();
}

@media (min-width: @tablet-width) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.features-list__item {
  padding-right: @mobilPadding;
  padding-left: @mobilPadding;

  text-align: center;
}

.features-list__item--reason-four {
  .features-list__text {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: @tablet-width) {
  .features-list__item {
    width: 33.3%;

    padding-top: 46px;
    padding-left: 49px;
    padding-right: 49px;
    padding-bottom: 44px;

    text-align: center;

    .text-info__title {
      margin-bottom: 9px;
    }

    .text-info__number {
      margin-bottom: 21px;
    }
  }

  .features-list__item--reason-four {
    padding-left: 50px;
    padding-right: 50px;

    .features-list__text {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .features-list__item {
    padding-top: 46px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 65px;
  }
}

.features-list__text {
  padding-bottom: 27px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.features-list__item:last-child .features-list__text {
  border-bottom: none;
}

@media (min-width: @tablet-width) {
  .features-list__text {
    padding-bottom: 0;
    border: none;
  }
}
