.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__fieldset {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 0;
  padding-top: 21px;
  padding-left: @mobilPadding;
  padding-right: @mobilPadding;
  padding-bottom: 26px;

  border: none;
}

.form__fieldset::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  height: 1px;
  width: 100%;
  background: #eeeeee;
}

.form__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  text-align: center;

  color: @text-color;
}

.form__text {
  margin: 0;
  margin-right: 15px;

  font-size: 14px;
  line-height: 24px;

  color: @text-color-muted;
}

.form__wrapper {
  display: flex;
  width: 100%;

  padding-left: @mobilPadding;
  padding-right: @mobilPadding;
  padding-bottom: 40px;
}

.form__button {
  width: 100%;
}

.form__footnote {
  display: none;
}
