.input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  margin-bottom: 20px;
}

.input:last-child {
  margin-bottom: 0;
}

.input--with-icon {
  flex-direction: column;
  align-items: flex-start;
}

.input__field {
  width: 100%;
  padding: 16px 20px;

  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;

  background-color: @form-color;
  border: none;
}

.input__field::placeholder {
  color: @text-color;
}
