.input {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  margin-bottom: 20px;
}

.input:last-child {
  margin-bottom: 0;
}

.input__field {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 17px 20px 15px 21px;

  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;

  background-color: @form-color;
  border: none;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: @main-color;
    box-shadow: inset 0 0 0 4px #e5e5e5;
  }
}

.input__field::placeholder {
  color: @text-color;
  opacity: 1; /* Firefox */
}

.input__field:-ms-input-placeholder {
  color: @text-color;
}

.input__wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;

  background-color: @form-color;
}

.input--with-icon {
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 14px;

  .form__text {
    margin-bottom: 7px;
    padding-left: 22px;
  }

  .input__field {
    width: calc(100% - 58px);
    padding-bottom: 15px;
    padding-top: 17px;
  }
}

@media (min-width: @tablet-width) {
  .input--with-icon {
    margin-bottom: 25px;
  }
}

@media (min-width: @desktop-width) {
  .input--with-icon {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;

    width: 50%;

    .form__text {
      padding: 0;
      margin-right: 17px;
    }

    .input__wrapper {
      width: 314px;
    }
  }
}

.input__icon {
  width: 58px;
  height: 58px;

  background-color: #e6e6e6;
}

.input__icon--phone {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.input__icon--email {
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
