.main-nav__list {
  position: relative;
  display: flex;
  flex-direction: column;

  .list-reset();
}

.main-nav__list::before {
  content: "";

  position: absolute;
  bottom: 0;

  height: 7px;
  width: 100%;

  box-shadow: inset 0 -4px 4px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-nav__list::before {
    content: none;
  }
}

.main-nav__item {
  box-shadow: 0 -1px 0 0 rgba(1, 1, 1, 0.2);
}

.main-nav__item:first-child {
  box-shadow: none;
}

@media (min-width: @tablet-width) {
  .main-nav__item {
    width: 20%;
    box-shadow: none;
  }

  .main-nav__item:nth-child(2) {
    margin-right: auto;
  }
}

.main-nav__link {
  display: block;

  min-height: 55px;
  padding-top: 9px;
  padding-bottom: 7px;

  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  text-decoration: none;

  background-color: @accent-color;
  color: @main-color;


  box-shadow: inset 0 1px 0 0 fade(@main-color, 20%);

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: fade(@main-color, 30%);
    background-color: #5496bd;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.main-nav__item:last-child .main-nav__link {
  padding-bottom: 6px;
}

@media (min-width: @tablet-width) {
  .main-nav__link {
    min-height: 56px;
    padding-top: 16px;
    padding-bottom: 7px;

    font-size: 14px;
    line-height: 26px;

    background-color: @main-color;
    color: @text-color;

    box-shadow: none;
  }

  .main-nav__link:hover {
    color: @accent-color;
    background-color: white;
  }

  .main-nav__link:active {
    color: @accent-color;
    background-color: white;
  }

  .main-nav__link:disabled {
    color: fade(@text-color, 30%);
  }

  .main-nav__link--active {
    color: #766357;
  }

  .main-nav__link--active:hover {
    color: #604e43;
    background-color: @main-color;
  }

  .main-nav__link--active:disabled {
    color: rgba(118, 99, 87, 0.3);
  }
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;

  display: block;
  width: 63px;
  height: 55px;

  background: none;

  border: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
  width: 23px;
  height: 22px;

  background: url("../img/icon-menu.svg") no-repeat center center;
}

.main-nav--opened .main-nav__toggle {
  width: 23px;
  height: 21px;

  background: url("../img/icon-cross.svg") no-repeat center center;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__image {
  display: block;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .main-nav__image {
    width: 102px;
    height: 84px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__image {
    width: 187px;
    height: 97px;
  }
}
