.page-header__logo {
  position: absolute;
  left: 50%;
  z-index: 1;

  height: 83px;
  width: 102px;

  transform: translateX(-50%);
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    top: 0;
  }
}
