.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 36px;
  padding-right: @mobilPadding;
  padding-left: @mobilPadding;
  padding-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;

    min-height: 120px;

    padding: 0;
    padding-left: @tabletPadding;
    padding-right: @tabletPadding;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;

    min-height: 120px;

    padding: 0;
    padding-left: 120px;
    padding-right: 120px;
  }
}

.page-footer__hashtag {
  display: block;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;

  color: @text-color;
}
