.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 37px @mobilPadding;
}

@media (min-width: @mobile-width-only) {
  .page-footer--photo {
    padding: 31px @mobilPadding;
  }
}

@media (min-width: @mobile-width-only) {
  .page-footer--form {
    padding: 34px @mobilPadding;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    width: 100%;

    padding: 30px @tabletPadding;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding: 36px 120px;
  }
}

.page-footer__hashtag {
  display: block;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;

  color: @text-color;
}

@media (min-width: @tablet-width) {
  .page-footer__hashtag {
    width: 33.33%;
    text-align: left;
  }
}
