.player {
  position: relative;
}

.player__image {
  width: 100%;
  height: 201px;

  vertical-align: top;

  object-fit: cover;
}

.player__range {
  position: relative;

  margin: 0 auto;
  margin-top: -45px;
}

.range-control {
  width: 280px;
  height: 45px;

  background-color: rgba(0, 0, 0, 0.6);
}

.range-control__scale {
  position: absolute;
  top: 22px;
  left: 22px;

  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

.range-control__toggle {
  position: absolute;
  top: 19px;
  left: 70px;

  width: 11px;
  height: 10px;
  background-color: @main-color;

  border-radius: 50%;
}

.player__buttons-block {
  margin: 0 auto;
}

.buttons-block {
  padding: 23px;

  width: 280px;
  height: 66px;

  background-color: #f3f3f3;
}

.buttons-block__button {
  background-color: transparent;
  border: none;
}
