.text-info {
  position: relative;

  padding-top: 41px;
  padding-left: @mobilPadding;
  padding-right: @mobilPadding;
  padding-bottom: 40px;

  text-align: center;
}

// .text-info__title {
//   margin-bottom: 26px;
// }

// .text-info__text {
//   line-height: 24px;
// }

// .text-info__title {
//   margin-top: 0;
//   margin-bottom: 9px;

//   font-size: 18px;
//   line-height: 26px;

//   color: @text-color;
// }

// .text-info__number {
//   display: block;
//   margin-bottom: 15px;
// }

// .text-info__text {
//   margin: 0;
// }

.text-info--index {
  padding-bottom: 42px;

  .text-info__title {
    margin-bottom: 27px;
  }

  .text-info__text {
    line-height: 26px;
  }
}

.text-info--index::before {
  content: "";

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  height: 37px;
  width: 320px;

  background-position: center;
  background-repeat: no-repeat;
  background-color: @accent-color;
  background-image: url("../img/bg-triangle.svg");
}

.text-info--blue {
  background-color: @accent-color;
  color: @main-color;
  padding-top: 40px;

  .text-info__title {
    color: @main-color;
  }
}

.text-info--grey {
  padding-top: 27px;
  padding-bottom: 0;

  text-align: left;

  background-color: #f2f2f2;
}

.text-info--gallery {
  padding-top: 39px;
  padding-bottom: 26px;

  .text-info__title {
    margin-bottom: 26px;
  }

  .text-info__text {
    line-height: 24px;
  }
}

.text-info--video-player {
  padding-top: 35px;
  padding-bottom: 33px;

  .text-info__title {
    margin-bottom: 26px;
  }

  .text-info__text {
    line-height: 24px;
  }
}

.text-info--feedback-form {
  padding-top: 39px;
  padding-bottom: 15px;

  .text-info__title {
    margin-bottom: 26px;
  }

  .text-info__text {
    line-height: 24px;
  }
}
